.half,
.half .container>.row {
  height: 100vh;
}



.half .contents,
.half .bg {
  width: 50%;
}

@media (max-width: 1199.98px) {

  .half .contents,
  .half .bg {
    width: 100%;
  }
}


.half .bg {
  background-size: cover;
  background-position: center;
}